/* General Styling */
:root {
    --global-bg-color: #ffffff;
    --global-code-bg-color: #6A2A601f;
    --global-text-color: {$black-color};
    --global-text-color-light: #828282;
    --global-theme-color: #6A2A60;
    --global-hover-color: #6A2A60;
    --global-footer-bg-color: #1c1c1d;
    --global-footer-text-color: #e8e8e8;
    --global-footer-link-color: #fff;
    --global-distill-app-color: #828282;
    --global-divider-color: #6A2A60a4;
    --global-card-bg-color: #6A2A6004;
}

/* Theme-based styling (Light & Dark) */
:root .fa-sun { display: none; }
:root .fa-moon { padding-left: 10px; padding-top: 12px; display: block; }
html[data-theme=dark] {
    --global-bg-color: #1c1c1d;
    --global-code-bg-color: #2c3237;
    --global-text-color: #e8e8e8;
    --global-text-color-light: #e8e8e8;
    --global-theme-color: #2698ba;
    --global-hover-color: #2698ba;
    --global-footer-bg-color: #e8e8e8;
    --global-footer-text-color: #1c1c1d;
    --global-footer-link-color: #000;
    --global-distill-app-color: #e8e8e8;
    --global-divider-color: #424246;
    --global-card-bg-color: #212529;
}

/* Activities Section */
.activities {
    margin-top: 2rem;
    font-size: 1rem;
    color: var(--global-text-color);
}

.activities h1 {
    color: var(--global-theme-color);
    font-size: 2rem;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.activities ul {
    list-style-type: none;
    padding-left: 0;
}

.activities ul li {
    border-bottom: 1px solid var(--global-divider-color);
    padding: 1rem 0;
}

.activities ul li a {
    color: var(--global-text-color);
    text-decoration: none;
}

.activities ul li a:hover {
    color: var(--global-theme-color);
    text-decoration: underline;
}

/* Common Adjustments for Sections */
.post-description {
    margin-bottom: 2rem;
    font-size: .875rem;
}
.post-description a {
    color: inherit;
}
.post-description a:hover {
    color: var(--global-theme-color);
    text-decoration: none;
}
